/* General Styles */
body {
    font-family: "Radio Canada Big", serif;
    font-weight: 400; 
    margin: 0;
    padding: 0;
    background: #ddbea9;
}

/* Nav Styles */
nav {
    font-family: "Radio Canada Big", serif;
    font-weight: 400; 
    display: flex;
    justify-content: flex-start;
    background: linear-gradient(to bottom, #a5a58d, #b7b7a4);
    color:#344e41;
    padding: 10px 30px;
    font-size: 20px;
}

nav p, nav a {
    color: #6b705c;

}

nav a {
    color: #6b705c;
    text-decoration: none;
    background: #a4ac86;
    padding: 8px;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
    border-radius: 5px;
}

nav a:hover {
    background-color: #a5a58d;
}

nav p:last-child {
    margin-left: 65%;
}

/* Footer Styles */
footer {
    display: flex;
    justify-content: center;
    background-color: #b7b7a4;
    color: #6b705c;
}

footer a {
    color: #6b705c;
}

footer a:hover {
    background-color: #a5a58d;
}

/* Splash Section */
.splash {
    text-align: center;
    background: linear-gradient(to bottom, #b7b7a4, #ddbea9);
    margin-bottom: 20px;
    color: #5e503f;
}

.splash h1 {
    font-family: "Gloock", serif;
    font-size: 50px;
    margin-top: 0;
    color: #a4ac86;
    text-shadow: 1px 1px 5px #414833;
}

.splash img {
    border-radius: 20px;
    border-style: outset;
    border-color: lightgrey;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.3));
}

.splash p {
    margin-bottom: 0;
    padding: 5px;
    color: #414833;
    font-size: 18px;
}

/* Horizontal Rules */
hr {
    border: 2px solid #5e503f;
    margin: 0;
    background-color: #414833;
    margin-bottom: 30px;
}

/* Sections */
section {
    color: #5e503f;
}

/* Section Headings */
section h2 {
    font-family: "Gloock", serif;
    color: #415d43;
}

/* Paragraph Styles */
section p {
    font-size:18px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    width: 90%;
    margin: auto;
    padding: 40px;
}

.box {
    background: #f8d9c4;
    border-radius: 10px;
    width: 85%;
    border-radius: 10px;
    height: 230px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}
/* link styles */
section a {
    text-decoration: none;
    color: #386641;
}
section a:hover {
    text-decoration: underline;
}

/* List Styles */
ul {
    list-style-type: square;
    padding-left: 15px;
}

dl {
    display: grid;
    gap: 3px 5px;
}

dl dt{
    font-weight: bold;
}

dl dd{
    margin-left: 20px;
}

/* Project Section */
.three-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    margin-bottom: 3px;
    max-width: 400px;
}

.card {
    border: 1px solid #a97c50;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 3px 4px #5e503f;
    background: #f0ead2;
    height: 400px;
}

.card img {
    margin: 0 auto;
    display: block;
}

.card h3 {
    text-align: center;
    font-size: 22px;
}

.projects h2 {
    text-align: center;
    width: 100%;
    font-size: 30px;
}

/* Contact Page Styles */
.one-col {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    font-size: 18px;
}

.one-col h1{
    font-family: "Radio Canada Big", serif;
}

.one-col p{
    font-family: "Gloock", serif;
    font-size: 14px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    color: #344e41;
}

form input, form textarea {
    border-radius: 8px;
    font-family: "Radio Canada Big", serif;
}

form input:focus, form textarea:focus {
    outline-color: #588157;
}

form button {
    font-family: "Radio Canada Big", serif;
    width: 30%;
    border-radius: 5px;
    font-size: 16px;
    padding: 8px;
    border: none;
    background-color: #a3b18a;
    margin: 0 auto;
    box-shadow: 0px 1px 4px #5e503f;
    color:#344e41;
}

form button:hover {
    background:#588157;
}

.thank-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    font-family: "Radio Canada Big", serif;
    color:#344e41;
}

.thank-container a{
    text-decoration: none;
    background-color: #a3b18a;
    color:#414833;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-family: "Radio Canada Big", serif;
}

.thank-container h1{
    font-size: 60px;
}
.thank-container p{
    font-size: 24px;
    margin-bottom: 50px;
}
